# Nusxa oling: cp keystore.properties.example keystore.properties
# Bu fayl ham, .jks fayl ham repoga TUSHMAYDI va hech kimga yuborilmaydi.
storeFile=../maktab14.jks
storePassword=
keyAlias=maktab14
keyPassword=
